<!DOCTYPE HTML>
<html>
	<head>
		<title>FacTract</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<section id="header">
				<header>
					<h1 style="font-size: 2.5em;font-family: 'Shadows Into Light Two', cursive;"><span style="font-size:80px;">F</span>ac<span style="font-size:80px;">T</span>ract</h1><br>
					<p>By Pied Piper</p><img src="../static/css/images/piedpiper.png" style="height: 50%;width:50%;margin-top:40px;">
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Fact Extracter</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Extract the crux with FacTract</h2>
				</header>
				<p>A fact extractor tool for the users which:<br />
				<span style="font-weight: 800;">a) Saves a lot of time.<br /></span>
				<span style="font-weight: 800;">b) Presents concise & appropriate facts.<br /></span>
				<span style="font-weight: 800;">c) Results within a minute.<br /></span>
				<span style="font-weight: 800;">d) Anyone can use it.</span>
				</p>
				<footer>
					<a class="button style2 scrolly">FacTract now!</a>
				</footer>
			</section>

			<div id="loading" ></div>

		<!-- Form -->
			<article class="container box style3">
				<header>
					<h1>Enter a topic</h1>
					<p>to FacTract now</p>
				</header>
				<form method="POST" action="/fact">
					<div class="row gtr-50">
						<div class="col-12 col-12-mobile"><input type="text" class="text" name="user_input" placeholder="Enter FacTract word here" /></div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" onclick = "loading()" value="FacTract!" /></li>
							</ul>
						</div>
					</div>
				</form>
			</article>
		<section id="footer">
			<ul class="icons">
				<li><h4>About Us</h4></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<span class="label"><li>&copy; Team Pied Piper. All rights reserved.</li><li>Design: Satyam Mishra</li></span>
				</ul>
			</div>
		</section>

		<!-- Scripts -->
		<script type="text/javascript">
			function loading(){
				$("#loading").show();
				$("#content").hide();
			}
		</script>
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>