<!DOCTYPE HTML>
<html>
	<head>
		<title>FacTrack</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/fact.css" />
	</head>
	<body class="subpage">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Logo -->
									<h1><a href="/" id="logo">FactTract</a></h1>
							</div>
						</div>
					</div>
				</section>

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section>
										<header>
											<h2>{{ user_input }}</h2>
										</header>
										<img src="{{ img_url }}"  alt="" srcset="" width="320" height="256">
									</section>
									<section>
										<header>
											<h2>Flash Card</h2>
										</header>
										{% for item in card_text %}
  									<p>{{item}}</p>
  									{% endfor %}
									</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Main Content -->
									<section>
										<header>
											<h2>Facts </h2>
											<h3>Related to {{ user_input }}</h3>
										</header>
										{% for para in text %}
									    	<p>{{para}}</p>
										{% endfor %}
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
							</div>
							<div class="col-4 col-12-medium imp-medium">

								<!-- Blurb -->
									<section>
										<h2>A Fact Extractor Tool</h2>
										<p>
											Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
											varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
											dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
											lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>

			<!-- Copyright -->
				<div id="copyright">
					&copy; Pied Piper. All rights reserved. | Design: Pied Piper
				</div>

		</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>